<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<title>电竞圈</title>	
<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
{{template "m_header.html" .}}
<link rel="stylesheet" type="text/css" href="/static/css/v2/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/v2/jquery.fullPage.css">
<link rel="stylesheet" type="text/css" href="/static/css/v2/app.css">
<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/v2/jquery.fullPage.min.js"></script>
<script src="/static/js/v2/jquery.easing.min.js"></script>
</head>

<body>
	<div id="warp">
		{{if .IN_WEIXIN}}
    	<div style="height:15%;width:100%; z-index:9999;position:absolute;" class="head"><img src="/static/img/head2.jpg"></div>
		{{end}}
    	<div class="section section1">
        	<div class="bg"><img src="/static/img/v2/app_bj.jpg" /></div>
            <div class="iphone"><img src="/static/img/v2/iphone.png" /></div>
            <div class="one_txt"><img src="/static/img/v2/title.png" /></div>
            <a href="http://m.dianjingquan.cn/download" class="ios_btn"><img src="/static/img/v2/app_ios_btn.png" /></a>
            <a href="{{.AND_DOWN}}" class="and_btn"><img src="/static/img/v2/app_and_btn.png" /></a>
            <div class="one_line"><img src="/static/img/v2/page_one_line.png" /></div>
            <div class="one_txt_2">
            	<div class="one_txt_2_title">选择你的游戏</div>
                <div class="one_txt_2_con">定制功能&nbsp;只展示你感兴趣的<span>属于你</span>的游戏内容</div>
            </div>
            <div class="one_footer"><img src="/static/img/v2/one_footer.png" /></div>
            <div class="go-btn"><a href="#page2" title=""><img src="/static/img/v2/next_icon.png" /></a></div>
    	</div>
    
   		<div class="section section2">
        	<div class="page2_left_phone"><img src="/static/img/v2/page2_iphone_2.png" /></div>
            <div clsss="page2_right_phone" id="page2_right_phone"><img src="/static/img/v2/page2_iphone_1.png" /></div>
            <div class="page2_topintro">
            	<span class="page2_top_title">赛事直播</span>
                <span class="page2_top_txt"><span>24小时全球顶级电竞赛事直播</span><br /><span class="page2_icon">&nbsp;</span><span style="color:#FFF; margin-left:3px;">提醒功能</span><span>让你不再错过</span></span>
            </div>
            <div class="page2_bottomintro">
            	<span class="page2_bot_title">个人直播</span>
                <span class="page2_bot_txt"><span style="color:#FFF;">明星大腕</span><span>个人直播全聚合</span></span>
            </div>
            <div class="go-btn"><a href="#page3" title=""><img src="/static/img/v2/next_icon.png" /></a></div>
    	</div>
    
    	<div class="section section3">
    		<div class="bg"><img src="/static/img/v2/app_bj_3.jpg" /></div>
            <div class="page3_iphone1"><img src="/static/img/v2/page3_iphone1.png" /></div>
            <div class="page3_iphone2"><img src="/static/img/v2/page3_iphone2.png" /></div>
            <div class="page3_top_intro">
            	<span class="page3_top_title">点播视频</span>
                <span class="page3_top_txt">视频点播同步更新<br />随时随地观看<span>离线下载</span></span>
            </div>
            <div class="page3_bot_intro">
            	<span class="page3_bot_title">全屏播放</span>
                <span class="page3_bot_txt">画质线路自由切换体验<br /><span>流畅快感</span></span>
            </div>
            <div class="go-btn"><a href="#page4" title=""><img src="/static/img/v2/next_icon.png" /></a></div>
    	</div>
    	<div class="section section4">
    		<div class="bg"><img src="/static/img/v2/app_bj_4.jpg" /></div>
            <div class="page4_iphone"><img src="/static/img/v2/page4_iphone.png" /></div>
            <div class="page4_iphone_img"><img src="/static/img/v2/page4_iphon4_2.png" /></div>
            <div class="page4_top_inro">
            	<div class="page4_top_title">社交功能</div>
                <div class="page4_top_txt"><span>轻松结交你的兴趣伙伴<br />更多功能等你</span><span style="color:#FFF;">发现</span></div>
            </div>
            <div class="link_box">
            	<span><img src="/static/img/v2/link_1.png" /></span>
                <span><img src="/static/img/v2/link_2.png" /></span>
                <span><img src="/static/img/v2/link_3.png" /></span>
                <span><img src="/static/img/v2/link_4.png" /></span>
            </div>			
            <div class="page4_footer">Copyright © 2015 {{if .IN_WEIXIN}}weixin{{end}}<span>www.dianjingquan.cn</span> Allright reserved.</div>
    	</div>
    </div>
    
	<script>
		$(function(){
				$('#warp').fullpage({
					verticalCentered: false,
					sectionsColor: ['#1f1f1f', '#1f1f1f', '#1f1f1f', '#1f1f1f'],
					anchors: ['page1', 'page2', 'page3', 'page4'],
					});
			});
	
	</script>
</body>
</html>
