<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<title>电竞圈</title>
{{template "m_header.html" .}}
<link rel="stylesheet" type="text/css" href="/static/css/v2/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/v2/app_vido.css">
</head>

<body>	
	<div class="warp">
    	<div class="bg"><img src="/static/img/v2/app_viod_bj.jpg" /></div>
        <div class="vido_title txt_hide">{{.Vod.Title}}</div>
        <div class="vido_box">
        	<div class="vido_bj">
            	<div class="vido_con">
					<video height="100%" width="100%" id="player" poster="{{.Poster}}" autoplay="autoplay" controls="controls">
						<source src="{{.Stream}}" type="video/mp4">
					</video>
				</div>
                <div class="vido_player_box">
                	<div class="player_img">
						<a href="javascript:;"><img src="{{.MAvatorUrl}}" /></a>
						{{if .MVip}}
						<span><img src="/static/img/v2/V.png" /></span>
						{{end}}
					</div>
                   	<div class="player_intro">
                    	<span class="player_big_txt txt_hide">{{.MName}}</span>
                        <!--<span class="player_small_txt txt_hide">he famous e-sports gamer</span>-->
                    </div>
                    <div class="fllow">
                    	<div>
                        	<span class="fl_num">{{.MVods}}</span>
                            <span class="fl_name">fllowing</span>
                        </div>
                        <span class="line">|</span>
                        <div>
                        	<span class="fl_num">{{.MFans}}</span>
                            <span class="fl_name">followers</span>
                        </div>
                        <span class="line">|</span>
                        <div>
                        	<span class="fl_num">{{.MGil}}</span>
                            <span class="fl_name">gil</span>
                        </div>
                    </div><!-- end fllow -->
                </div><!-- end vido_player_box  -->
            </div><!-- end vido_bj -->
        </div><!-- end vido_box-->
        <div class="get_txt">GET THE APP NOW</div>
        <a href="http://m.dianjingquan.cn/download" class="app_btn_ios"><img src="/static/img/v2/app_ios_black.png" /></a>
        <a href="{{.AND_DOWN}}" class="app_btn_and"><img src="/static/img/v2/app_and_black.png" /></a>
        <div class="link_box">
           <a href="#" target="_blank"><img src="/static/img/v2/link_1.png" /></a>
           <a href="#" target="_blank"><img src="/static/img/v2/link_2.png" /></a>
           <a href="#" target="_blank"><img src="/static/img/v2/link_3.png" /></a>
           <a href="#" target="_blank"><img src="/static/img/v2/link_4.png" /></a>
         </div>
        <div class="page4_footer">Copyright © 2015 <span>www.dianjingquan.cn</span> Allright reserved.</div>
    </div><!-- end warp -->
</body>
</html>
