<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电竞圈</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="/static/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/css/www_v2/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/www_v2/style_vido.css">
<script src="/static/js/jquery-1.8.3.min.js"></script>
<style>
	@media (max-width:1440px) and (max-height:900px) {
		.wrap .vido_tit { margin-top:10px;}
		.wrap .vido_bg { margin-top:5px;}
		.wrap .get_txt { margin-top:10px;}
		.wrap .footer { margin-top:20px;}
		.wrap .share { margin-top:15px;}
	}
</style>
</head>

<body>	
	<div class="wrap">
    	<div class="vido_tit txt_hide">{{.Vod.Title}}</div>
        <div class="vido_bg">
        	<div class="bofang" id="vplayer">            
            </div><!-- 视频播放框 -->
            <div class="player_info">
            	<div class="play_th">
					<a href="javascript:;" ><img src="{{.MAvatorUrl}}" /></a>
					{{if .MVip}}
					<span><img src="/static/img/www_v2/V.png" /></span>
					{{end}}
				</div>
                <div class="play_txt">
                	<span class="txt_1 txt_hide">{{.MName}}</span>
                    <!--<span class="txt_2 txt_hide">the famous e-sports gamer</span>-->
                </div>
      			<div class="fllow">
                	<div>
                    	<span class="fl_num">{{.MVods}}</span>
                        <span class="fl_name">following</span>
                    </div>
                    <span class="line_1">|</span>
                    <div>
                    	<span class="fl_num">{{.MFans}}</span>
                        <span class="fl_name">followers</span>
                    </div>
                    <span class="line_2">|</span>
                    <div>
                    	<span class="fl_num">{{.MGil}}</span>
                        <span class="fl_name">gil</span>
                    </div>
                </div>
            </div><!--end player_info -->
        </div><!--end vido_bg -->
        <div class="get_txt">立即下载</div>
        <div class="btn_con">
        	<a href="{{.IOS_DOWN}}" class="pc_ios_btn"></a>
            <a href="{{.AND_DOWN}}" class="pc_and_btn"></a>	
        </div>
        <div class="footer">
                    	<a href="#" target="_blank">关于我们</a>
                        <span>|</span>
                        <a href="#" target="_blank">联系我们</a>
                        <span>|</span>
                        <a href="#" class="bug">BUG 反馈</a>
                        <span>|</span>
                        <a href="#" target="_blank">加入我们</a>
        </div>
        <div class="share">
                    	<a href="#" target="_blank" class="share1"><img src="/static/img/www_v2/share_01.png" /></a>
                        <a href="#" target="_blank" class="share2"><img src="/static/img/www_v2/share_02.png" /></a>
                        <a href="#" target="_blank" class="share3"><img src="/static/img/www_v2/share_03.png" /></a>
                        <a href="#" target="_blank" class="share4"><img src="/static/img/www_v2/share_04.png" /></a>
        </div>
       	<div class="last">Copyright © 2015 <a href="javascript:;" target="_blank">www.dianjingquan.cn</a>. Allright reserved.</div>        
    </div><!--end wrap -->
	{{template "feedbackbox.html" .}}
	<script src="/static/fplayer/vplayer.js"></script>
	<script type="text/javascript">
		var flashvars={
			f:'/vod/[$pat]/stream',
			a:'{{.Vod.Id}}',
			c:0,
			s:2,
		};
		var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
		CKobject.embedSWF('/static/fplayer/vplayer.swf','vplayer','vplayer_v1','600','335',flashvars,params);
	</script>
    <script>
	 $(function(){
			var aa=$(document).height();
			$(".wrap").css("height", aa);
		 });
		 $(function(){
			$(".box").hide();
			 
			 var maskHeight=$(document).height();
			 var maskWidth=$(document).width();
			
			$(".bug").click(function(){
				//添加遮罩层
				$('<div class="mask"></div>').appendTo($('body'));
				$('div.mask').css({
						'opacity':0.4,
						'background':'#000',
						'position':'absolute',
						'left':0,
						'top':0,
						'width':maskWidth,
						'height':maskHeight,
						'z-index':88
					});
				
				 $('.box').show();
				});
				
			$(".close").click(function(){
					$(".box").hide();
					$('.mask').remove();
				});
	});
	</script>
	
</body>
</html>
