<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>电竞圈-让赛场更真实</title>
		<meta name="keywords" content="电竞圈, 电竞圈APP, 电竞直播, 赛事直播, LOL直播, DOTA2直播, LOL视频, DOTA2视频, SC2视频">
		<meta name="description" content="电竞圈APP是最全面专业的电竞游戏视频直播及点播的客户端。为用户提供在线播放电竞赛事、明星第一视角直播、大神点播视频，内容涵盖英雄联盟、刀塔、风暴英雄、炉石传说、星际争霸2等.">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/css/www_v3/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/www_v3/jquery.fullPage.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/www_v3/style.css"/>
		<script type="text/javascript" src="/static/js/www_v3/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="/static/js/www_v3/jquery.fullPage.min.js" ></script>
		<script type="text/javascript" src="/static/js/www_v3/jquery.easing.min.js" ></script>
		<script type="text/javascript" src="/static/js/www_v3/E_Gaming.js" ></script>
		<script type="text/javascript" src="/static/js/www_v3/jquery.SuperSlide.2.1.1.js" ></script>
	</head>
	<body>
		<div id="dowebok">
			<div class="section section1">
				<div class="bg1_bai">1</div>
				<div class="section1_box">
					<div class="QR_ma"><img src="/static/img/www_v3/QR_code.png" / ></div>
					<a href="{{.IOS_DOWN}}" target="_blank" class="ios_btn"></a>
					<a href="{{.AND_DOWN}}" target="_blank" class="and_btn"></a>
				</div>
			</div>
			<div class="section section2"></div>
			<div class="section section3"></div>
			<div class="section section4"></div>
			<div class="section section5">
				<div class="bg_5">
					<div class="bg_5_img"></div>
					<div class="bg_5_box">
						<div class="txt">立即体验电竞圈的魅力</div>
						<a class="ios_last_btn" href="https://itunes.apple.com/cn/app/dian-jing-quan-dian-jing-shi/id942848740?mt=8"></a>
						<a class="and_last_btn" href="http://7tszdq.com1.z0.glb.clouddn.com/djqv1a1a3.apk"></a>
					</div>
				</div>
				<div class="page5_footer">
            	<div class="page5_footer_con">
                	<div class="footer_1">
                    	<a href="#" target="_blank">关于我们</a>
                        <span>|</span>
                        <a href="#" target="_blank">联系我们</a>
                        <span>|</span>
                        <a href="#" class="bug">BUG 反馈</a>
                        <span>|</span>
                        <a href="#" target="_blank">加入我们</a>
                    </div>
                    <div class="footer_2">
                    	<a href="#" target="_blank" class="share1"><img src="/static/img/www_v3/share_01.png" /><span class="wx_ma"><img src="/static/img/www_v3/wx_ma.jpg" /></span></a>
                        <a href="javascript:window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark','_blank','width=450,height=400');void(0)"><img src="/static/img/www_v3/share_02.png" /></a>
                        <a href="http://v.t.qq.com/share/share.php?url=http://www.dianjingquan.cn&title='电竞圈-让赛场更真实'" target="_blank" class="share3"><img src="/static/img/www_v3/share_03.png" /></a>
                        <a href="#" target="_blank" class="share4"><img src="/static/img/www_v3/share_04.png" /><span class="qq_ma"><img src="/static/img/www_v3/QQ_ma.png" /></span></a>
                    </div>
                    <div class="footer_3">Copyright © 2015 <span href="javascript:;" target="_blank"> www.dianjingquan.cn</span> Allright reserved.</div>   
                </div>
           	</div>
			</div><!-- end section5 -->
		</div><!-- end dowebok- -->
		{{template "feedbackbox.html" .}}
	</body>
</html>
