<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
{{template "header_v2.html" .}}

<body>	
	<div id="dowebok">
    	<div class="section section1">
        	<div class="IE_err">您使用的是IE浏览器，为了你有更加的体验，建议您使用谷歌，火狐等浏览器打开页面!</div>
        	<div class="logo"><img src="/static/img/www_v2/e_logo.png" /></div>
            <div class="logo_title">让赛场更真实</div>
            <div class="logo_txt">
            	<p>最全面专业的电竞游戏视频直播及点播客户端</p>
                <p>全面：英雄联盟、刀塔2、风暴英雄、炉石传说、星际争霸2等众多热门电竞项目满足用户的不同喜好</p>
                <p>专业：在线播放电竞赛事、明星第一视角直播、大神点播视频、教学视频等看的多学到更多、电竞生活更添趣味</p>
                <p>贴心：视频收藏、离线下载、赛事提醒、直播预订、主播订阅等全免费服务，让你可以随时随地观赏各类顶级电竞赛事</p>
                <p>电竞圈-让您的生活“竞”彩无限</p>
            </div>
            <div class="logo_btn">
            	<div class="btn_canter">
                	<a href="{{.IOS_DOWN}}" target="_blank" class="ios_btn fl"></a>
                    <a href="{{.AND_DOWN}}" target="_blank" class="and_btn fr"></a>
                </div>
            </div>
            <div class="QR_con"><img src="/static/img/www_v2/QR_code.png" /></div>
            <div class="go-btn"><a href="#page2" title=""><img src="/static/img/www_v2/next_icon.png" /></a></div>
			<div class="section1_last"><img src="/static/img/www_v2/page_1_head.png" /></div>
        </div><!-- end section1 -->
        
        <div class="section section2">
        	<a href="#page1" class="back-to-top"><img src="/static/img/www_v2/go_top.png" /></a>
            <div class="page2_bg">
            	<div class="phone">
            		<div class="page2_title">四大版块 想你所想</div>
                	<div class="banner_bg">
                    	<ul class="scroll">
                        	<li><img src="/static/img/www_v2/banner_1.png" width="395" height="690" /></li>
                            <li><img src="/static/img/www_v2/banner_2.png" width="395" height="690" /></li>
                            <li><img src="/static/img/www_v2/banner_3.png" width="395" height="690" /></li>
                            <li><img src="/static/img/www_v2/banner_4.png" width="395" height="690" /></li>
                        </ul>
                    </div><!-- -->
            	</div><!-- end phone -->
              	
                <div class="bl">
                	<!-- 文字_icon_1 -->
                	<span class="page2_txt1">为您网络全球各电竞项目的大中小型赛事，史上最全聚合为您带来前所未有的观赛体验。为您搜集了草根、明星各路电竞大神，萌妹、御姐个性直播送上全新视听盛宴</span>
            		<div class="page2_icon1"></div>
            
            		<!-- 文字_icon_2 -->
            		<span class="page2_txt2">第一视角、教学视频学以致用，赛事、集锦全面及时。远胜高清的超清观看模式及离线下载功能，满足您对观赏的最佳播放需求</span>
            		<div class="page2_icon2"></div>
            
            		<!-- 文字_icon_3 -->
            		<span class="page2_txt3">被坑想吐槽，5杀晒战绩？来这秀出自我，彰显实力。寻找趣味相投的小伙伴，小组中更有一番热闹景象，让您不再是孤单的一个人</span>
            		<div class="page2_icon4"></div>
                
                	<!-- 文字_icon_3 -->
            		<span class="page2_txt4">当一回众人追捧的偶像，或是追自己喜爱的大神，在这都能帮您实现。还有直播提醒、离线下载以及视频收藏，您可以用最简便的操作实现您最理想的效果</span>
                    <div class="page2_icon3"></div>
                </div> <!-- end bl -->

            </div><!-- end page2_bg -->         
            <div class="go-btn"><a href="#page3" title=""><img src="/static/img/www_v2/next_icon.png" /></a></div>
        </div><!-- end section2 -->
        
        <div class="section section3">
        	<a href="#page1" class="back-to-top"><img src="/static/img/www_v2/go_top.png" /></a>
        	<div class="page3_bg">
            	<div class="page3_title">项目全面 赛事齐全</div>
                <div class="page3_logo">
                    <span class="game_5"></span>
                    <span class="game_7"></span>
                	<span class="game_1"></span>
					<span class="game_2"></span>
                    <span class="game_4"></span>
                    <span class="game_3"></span>
                    <span class="game_8"></span>
                    
                </div>
                <div class="maps"><img src="/static/img/www_v2/maps.png" /></div>
                <div class="page3_con">
                	<span class="news_title3">"全"就是我的承诺</span>
                    <span class="news_txt">
                    	<p>风靡全球的电竞项目，世界顶级赛事应有尽有</p>
                        <p>英雄联盟：S系列、MSI、LPL、LCS...</p>
                        <p>刀塔2：Ti系列、DAC、WPC、i联赛...</p>
                        <p>风暴英雄：GHL、SL联赛、ESL、雷锋杯...</p>
                        <p>炉石传说：SL联赛、NEL、CSL、别墅杯...</p>
                        <p>星际争霸2：WCS、GSL、SPL、SSL...</p>
                        <p>没有最多，只有更多...</p>
                    </span>
                    <span class="news_footer">
                    	<span class="tips_icon"></span>
                        <span class="tips_txt">电竞圈独有的赛事提醒功能，让用户不再错过喜欢的每一场赛事!</span>
                    </span>
                </div>
            </div>
            <div class="go-btn"><a href="#page4" title=""><img src="/static/img/www_v2/next_icon.png" /></a></div>
        </div><!-- end section3 -->
        
        <div class="section section4">
        	<a href="#page1" class="back-to-top"><img src="/static/img/www_v2/go_top.png" /></a>
            <div class="page4_ad"><img src="/static/img/www_v2/page4_ad.jpg" /></div>
            <div class="page4_con">
                	<span class="page4_title">随时随地 想看就看</span>
                <span class="page4_txt">
					<p>离线下载功能，让你无论你在公交、地铁、教室、宿舍，离线下载都能让你随时随地想看就看 不同级别的清晰度下载，配合你的网速和设备让你更加自由的享受电子竞技带给我们的欢乐，更可以分享视频让你和你的伙伴一起发现电子竞技的魅力，相关视频内有更多视频推荐。内容目不暇接，让你一次看个够！</p>
                </span>
            </div>
            <div class="go-btn"><a href="#page5" title=""><img src="/static/img/www_v2/next_icon.png" /></a></div>
        </div><!-- end section4 -->
        
        <div class="section section5">
        	<a href="#page1" class="back-to-top"><img src="/static/img/www_v2/go_top.png" /></a>
        	<div class="page5_bg">
            	<span class="page5_title">更多功能 等您发现</span>
                <span class="page5_1">
                	<span class="page5_icon1"><img src="/static/img/www_v2/page5_icon1.png" /></span>
                    <span class="page5_txt">任务中心中查看并完成每日任务和特殊活动免费获取积分，更可以用积分在商城中兑换您心仪的礼品</span>
                </span>
                <span class="page5_2">
                	<span class="page5_icon2"><img src="/static/img/www_v2/page5_icon2.png" /></span>
                    <span class="page5_txt">小组中创建并招募好友，分享欢乐、激情碰撞、共同成长，独自寂寞不如众人欢乐</span>
                </span>
                <span class="page5_3">
                	<span class="page5_icon3"><img src="/static/img/www_v2/page5_icon3.png" /></span>
                    <span class="page5_txt">商城中您会见到琳琅满目的各类商品，口水都掉下来了！还不快用积分兑换自己喜欢的好礼?</span>
                </span>
                <span class="page5_4">
                	<span class="page5_icon4"></span>
                    <span class="page5_txt">收藏是属于自己的一片天地，看到喜欢的瞬间、还没看完的精彩，轻松点击收藏后到这里慢慢品味</span>
                </span>
                <span class="get_now">立即下载</span>
                <a href="{{.IOS_DOWN}}" target="_blank" class="page5_btn_iso"></a>
                <a href="{{.AND_DOWN}}" target="_blank" class="page5_btn_and"></a>
            </div>
            <div class="page5_footer">
            	<div class="page5_footer_con">
                	<div class="footer_1">
                    	<a href="#" target="_blank">关于我们</a>
                        <span>|</span>
                        <a href="#" target="_blank">联系我们</a>
                        <span>|</span>
                        <a href="#" class="bug">BUG 反馈</a>
                        <span>|</span>
                        <a href="#" target="_blank">加入我们</a>
                    </div>
                    <div class="footer_2">
                    	<a href="#" target="_blank" class="share1"><img src="/static/img/www_v2/share_01.png" /><span class="wx_ma"><img src="/static/img/www_v2/wx_ma.jpg" /></span></a>
                        <a href="http://v.t.sina.com.cn/share/share.php?url=http://www.shao-ming.com&title='电竞圈'" target="_blank" class="share2"><img src="/static/img/www_v2/share_02.png" /></a>
                        <a href="http://v.t.qq.com/share/share.php?url=http://www.shao-ming.com&title='电竞圈'" target="_blank" class="share3"><img src="/static/img/www_v2/share_03.png" /></a>
                        <a href="#" target="_blank" class="share4"><img src="/static/img/www_v2/share_04.png" /><span class="qq_ma"><img src="/static/img/www_v2/QQ_ma.png" /></span></a>
                    </div>
                    <div class="footer_3">Copyright © 2015 <span href="javascript:;" target="_blank"> www.dianjingquan.cn</span> Allright reserved.</div>   
                </div>
            </div>
        </div><!-- end section5 -->
        
    </div> <!-- end dowebok -->
  
    <script type="text/javascript">
	jQuery(".page2_bg").slide({ titCell:".bl span", mainCell:".scroll", effect:"fold",easing:"easeInOutCirc",delayTime:800});
	jQuery(".page2_bg").slide({ titCell:".bl div", mainCell:".scroll", effect:"fold",easing:"easeInOutCirc",delayTime:800});
	</script>
    
    <script language="JavaScript" type="text/javascript">
	if ((navigator.userAgent.indexOf('MSIE') >= 0) 
	    && (navigator.userAgent.indexOf('Opera') < 0)){
			$('.IE_err').show();
	}
	</script>
	
	{{template "feedbackbox.html" .}}
</body>
</html>
